.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0C0C0C;
    box-sizing: border-box;
    border: 1px solid rgba(220, 202, 135, 0.2);
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
    padding: 6rem 12rem;
    max-height: 65vh;
}

.newsletter__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.newsletter__heading img {
    width: 5%;
}

.newsletter__heading h3 {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
}

.newsletter__heading h1 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #DCCA87;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.newsletter__heading p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.newsletter__email {
    display: flex;
    flex-direction: row;
}

.newsletter__email input {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;    
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #AAAAAA;
    background: #0C0C0C;
    box-sizing: border-box;
    border: 1px solid #F5EFDB;
    margin-right: 2rem;
    padding: 1rem 1rem;
    min-width: 40vw;
    text-align: start;
}

.newsletter__email button {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #0C0C0C;
    background: #DCCA87;
    border: 1px solid #DCCA87;
    width: 129px;
    height: 44px;
    margin-top: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .newsletter__heading img {
        width: 10%;
    }
    
    .newsletter__heading h3 {        
        font-size: 20px;
        line-height: 110%;        
    }
    
    .newsletter__heading h1 {        
        font-size: 54px;
        line-height: 110%;        
    }
    
    .newsletter__heading p {        
        font-size: 16px;
        line-height: 155%;       
    }    
}

@media screen and (max-width: 1000px) {
    .newsletter__heading img {
        width: 13%;
    }
    
    .newsletter__heading h3 {        
        font-size: 18px;
        line-height: 110%;        
    }
    
    .newsletter__heading h1 {        
        font-size: 50px;
        line-height: 110%;        
    }
    
    .newsletter__heading p {        
        font-size: 14px;
        line-height: 155%;       
    }    

    .newsletter {
        padding: 4rem 8rem;
    }
}

@media screen and (max-width: 800px) {
    .newsletter__heading img {
        width: 15%;
    }
    
    .newsletter__heading h3 {        
        font-size: 16px;
        line-height: 100%;        
    }
    
    .newsletter__heading h1 {        
        font-size: 40px;
        line-height: 100%;        
    }
    
    .newsletter__heading p {        
        font-size: 14px;
        line-height: 155%;       
    }    

    .newsletter {
        padding: 4rem 8rem;
    }
}

@media screen and (max-width: 600px) {
    .newsletter__email {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newsletter__email button {
        margin-top: 2rem;
    }

    .newsletter__email input {
        margin-left: 2rem;
    }

    .newsletter {
        padding: 3rem 6rem;
    }

    .newsletter__heading {
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .newsletter__heading img {
        width: 20%;
    }
    
    .newsletter__heading h3 {        
        font-size: 16px;
        line-height: 100%;        
    }
    
    .newsletter__heading h1 {        
        font-size: 35px;
        line-height: 100%;        
    }
    
    .newsletter__heading p {        
        font-size: 14px;
        line-height: 155%;       
    }  
    
    .newsletter__heading {
        margin-bottom: 3rem;
    }
}