.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #0C0C0C;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 4;
}

.navbar__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    margin-left: 5rem;  
}

.navbar__heading h1 {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__links a {
    color: #FFFFFF;    
}

.navbar__links a:hover {
    color: #545454;
}

.navbar__links li {
    margin-right: 2rem;
    color: #0C0C0C;
}

.navbar__links li:last-child {
    margin-right: 0;
}

.navbar__loginbook {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;    
    margin-right: 5rem; 
}

.navbar__loginbook a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s ease;
}

.navbar__loginbook a:hover {
    border-bottom: 1px solid #DCCA87;
}

.navbar__loginbook-line {
    margin: 0 2rem;
    width: 1px;
    height: 30px;
    background-color: #545454;
}

.navbar__menu {
    display: none;
}

.navbar__menu-loginbook {
    display: flex;
    margin-right: 1rem;
}

.navbar__menu-loginbook a {
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .navbar__menu {
        display: flex;
    }

    .navbar__links {
        display: none;
    }

    .navbar__loginbook {
        display: none;
    }

    .navbar__heading {
        margin-left: 0;
    }
}

@media screen and (max-width: 750px) {
    .navbar {
        padding: 0.5rem 2rem;
    }
    .navbar__menu-loginbook {
        display: none;
    }
}